# Lazy Jobber Security & Credentials Config
NAUKRI_USERNAME=balagopalsasidharan@gmail.com
NAUKRI_PASSWORD=your_secure_password_here

LINKEDIN_USERNAME=balagopalsasidharan@gmail.com
LINKEDIN_PASSWORD=your_secure_password_here

INDEED_USERNAME=balagopalsasidharan@gmail.com
INDEED_PASSWORD=your_secure_password_here
